<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alta de Proveedor</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Alta de Nuevo Proveedor</h1>

        <p><a th:href="@{/proveedores}" class="button back">Volver al Listado de Proveedores</a></p>

        <p th:if="${error}" class="error-message" th:text="${error}"></p>

        <form th:action="@{/proveedores/actualizar}" th:object="${proveedor}" method="post">

            <input type="hidden" th:field="*{id}">

            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{nombre}" required>
            </div>

            <div>
                <label for="telefono">Telefono:</label>
                <input type="number" id="telefono" th:field="*{telefono}" required>
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required>
            </div>

            <div>
                <label for="observaciones">Observaciones:</label>
                <input type="text" id="observaciones" th:field="*{observaciones}">
            </div>

            <button type="submit" class="button">Actualizar Proveedor</button>
        </form>
    </div>
</body>
</html>